<section class="text-center mt-3">
    <div class="container">
    <h1>Contact Section</h1>
    <i class="fa-solid fa-star pb-4 star"></i>
    <form class="mt-5">
        <input type="text" placeholder="userName" class="form-control border-0 border-bottom mx-auto my-5">
        <input type="text" placeholder="userAge" class="form-control border-0 border-bottom mx-auto my-5">
        <input type="text" placeholder="userEmail" class="form-control border-0 border-bottom mx-auto my-5">
        <input type="text" placeholder="userPassword" class="form-control border-0 border-bottom mx-auto my-5">
        <button class="btn text-white align-left">send Message</button>
    </form>
    </div>
</section>
