<section>
    <div class="container text-center">
        <div class="caption mt-4">
            <h1>Portfolio Component</h1>
            <i class="fa-solid fa-star pb-4 star"></i>
        </div>
        <div class="row g-5">
            <div class="col-md-4">
                <div class="content overflow-hidden position-relative rounded-3">
                    <img src="../../assets/Images/poert1.png" alt="" class="rounded-3 w-100">
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content overflow-hidden position-relative rounded-3">
                    <img src="../../assets/Images/port2.png" alt="" class="rounded-3 w-100">
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content overflow-hidden position-relative rounded-3">
                    <img src="../../assets/Images/port3.png" alt="" class="rounded-3 w-100">
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content overflow-hidden position-relative rounded-3">
                    <img src="../../assets/Images/poert1.png" alt="" class="rounded-3 w-100">
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content overflow-hidden position-relative rounded-3">
                    <img src="../../assets/Images/port2.png" alt="" class="rounded-3 w-100">
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content overflow-hidden position-relative rounded-3">
                    <img src="../../assets/Images/port3.png" alt="" class="rounded-3 w-100">
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
